.mainCard{
    transition: all 0.6s;
    box-shadow: 0px 0px 50px #35c3e345;
    border-top: 1px solid #35C3E3;
}

.cardOverFLowDown{
    background-color: rgba(6, 47, 48, 0.655);
    backdrop-filter: blur(3px);
    transition: all 0.6s;
    
}

.cardOverFLowDown .title {
    color: #ffdc9a;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 0px 50px #ffdc9a;
    text-transform: capitalize;
}

.mainCard:hover .cardOverFLowDown {
    top: 270px;
    color: wheat;
}

.cardOverFLowUp{
    top: -270px;
    background-color: rgba(6, 47, 48, 0.655);
    backdrop-filter: blur(30px);
    transition: all 0.6s;
}

.detailBtn:hover .cardOverFLowUp{
    backdrop-filter: blur(0px);
}

.mainCard:hover .cardOverFLowUp {
    top: 0px;
    color: wheat;
}