.btnanim {
    box-shadow: 0px 0px 15px #66caf1;
    transition: all 0.2s;
    animation: btnbg 1.0s ease-in infinite ;
}
.commonbtn{
    transition: all 0.2s;
    
}
/* .commonbtn:hover {
    animation: btnbg 1.0s ease-in infinite ;
    box-shadow: 0px 0px 15px #66caf1;
} */

.dbimage{
    border: 2px solid #ffffff;
    animation: dbimage 6s ease-in-out infinite ;
}

.doticon{
    animation: dbimage 2s ease-in-out infinite ;
}

.floatingText{
    width: 300px;
    animation: textanimation 1s steps(5) infinite;
}

.profilePic:hover{
    animation: profileDancing 1s ease-in-out infinite
}

@keyframes profileDancing {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(1deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

/* .hoverProfile{
    border-radius: 78% 22% 25% 25% / 75% 25% 25% 25%;
} */


@keyframes btnbg {
    0%{
        box-shadow: none;
    }
    50%{
        box-shadow: 0px 0px 45px #66caf16d;
    }
    100%{
        box-shadow: none;
    }
}

@keyframes dbimage {
    0%{
        box-shadow: none;
    }
    50%{
        box-shadow: 0px 0px 500px #0988d166;
    }
    75%{
        box-shadow: 0px 0px 200px #098E59;
    }
    100%{
        box-shadow: none;
    }
}

.animation-line{
    position: absolute;
    top: 100;
    left: 0;
    width: 100px;
    background: #66caf1;
    height: 0.1px;
    animation: line_animate 8s  infinite ease-in-out;
}
@keyframes line_animate {
    0%{
        left: 0;
    }
    50%{
        box-shadow: 0px 0px 100px 20px #0db5f7;
        left: 700px;
        width: 100px;
        opacity: 0;
    }
    75%{
        left: 700px;
        width: 100px;
        opacity: 0;
        box-shadow: 0px 0px 300px 80px #0db5f7;
    }
    100%{
        left: 0;
    }
}