.btnanim {
    box-shadow: 0px 0px 15px #66caf1;
    transition: all 0.2s;
    animation: btnbg 1.0s ease-in infinite ;
}
.commonbtn:hover {
    box-shadow: 0px 0px 15px #66caf1;
    transition: all 0.2s;
    animation: btnbg 1.0s ease-in infinite ;
}

.dbimage{
    border: 3px solid #ffffff;
    animation: dbimage 6s ease-in-out infinite ;
}

.doticon{
    animation: dbimage 2s ease-in-out infinite ;
}

.floatingText{
    width: 300px;
    animation: textanimation 1s steps(5) infinite;
}

.hoverProfile{
    border-radius: 78% 22% 25% 25% / 75% 25% 25% 25%;
}

@keyframes textanimation {
	0%{
		width: 0ch;
	}
	50%{
		width: 15ch;
	}
	100%{
		width: 0ch;
	}
}

@keyframes btnbg {
    0%{
        box-shadow: none;
    }
    50%{
        box-shadow: 0px 0px 15px #66caf1;
    }
    100%{
        box-shadow: none;
    }
}

@keyframes dbimage {
    0%{
        box-shadow: none;
    }
    50%{
        box-shadow: 0px 0px 100px #0988d166;
    }
    75%{
        box-shadow: 0px 0px 50px #feffff66;
    }
    100%{
        box-shadow: none;
    }
}

.nameAnim_1{
    animation: textOpacity 4s ease-in-out infinite;
}
.nameAnim_2{
    animation: textOpacity 5s ease-in-out infinite;
}
.nameAnim_3{
    animation: textOpacity 6s ease-in-out infinite;
}
.nameAnim_4{
    animation: textOpacity 7s ease-in-out infinite;
}
.nameAnim_5{
    animation: textOpacity 8s ease-in-out infinite;
}

@keyframes textOpacity {
    0%{
        opacity: 80%;
    }
    25%{
        opacity: 80%;
    }
    50%{
        opacity: 80%;
    }
    75%{
        opacity: 80%;
    }
    100%{
        opacity: 0%;
    }
}