/* .contactImg{
    animation: myimg 3s ease-in infinite;
}

@keyframes myimg {
    0%{
        filter: opacity(100%);
    }
    50%{        
        filter: opacity(20%);
    }
    100%{
        filter: opacity(100%);
    }
} */

.contactLetter{
    background-image: url(../../../assets/contactLetter.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}