.App {
  text-align: center;
}

.bglineleft{
  background-image: url(../src//assets/linebg-left-top.png);
  background-position: 400px -60px;
  background-size: contain;
  background-repeat: no-repeat;
}

.bglineleftbox{
  /* background-image: url(../src//assets//bgboxleft.png);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat; */
}

.commentsbg{
  background-image:  linear-gradient(0deg, #0e2025f4, #0e2025f4), url('https://i.ibb.co/hyHDm0B/6600392-3325712.jpg');
  /* background-image:  url('https://i.ibb.co/hyHDm0B/6600392-3325712.jpg'); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.detailsBg{
  background-color: rgba(0, 0, 0, 0.445);
  padding: 10px;
  border-radius: 20px;
}

.mainHomebg{
  background-image: url(../src//assets/bgimgshape2.png);
background-size: 100vw;
background-repeat: no-repeat;
}

.contactBg{
  background-image: url(../src//assets/bgcontact.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.blogbgimg{
  background-image: url(../src//assets/bgblog.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bglineleftround{
  background-image: url(../src//assets/bground-bottom.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bglineleftskill{
  background-image: url(../src//assets/linebg-right-down.png);
  background-position: -50px -200px;
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(10px);
}

.pageBacgkround{
  background-image: linear-gradient(45deg green red );
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
