.wrapper .button{
    display: inline-block;
    height: 35px;
    width: 35px;
    margin: 0 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
    background: #193841;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.135);
    transition: all 0.3s ease-out;
  }

.wrapper .button:hover{
    width: 160px;
}

.wrapper .icon{
    color: white;
    margin-right: 10px;
    padding: 6px;
}

.wrapper span{
    font-size: 16px;
    text-transform: uppercase;
}

.github-bulb{
    
    /* animation: git_bulb 2s infinite ease-in-out ; */
}
@keyframes git_bulb {
    0%{
        filter: drop-shadow(0px 0px 0px black);
    }
    0%{
        /* box-shadow: 0px 0px 10px 20px #23baf5; */
        filter: drop-shadow(0px 0px 50px #23baf5);
    }
    100%{
        filter: drop-shadow(0px 0px 0px black);
    }
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 80px;
    aspect-ratio: 1;
    display: grid;
  }
  .loader:before,
  .loader:after {
    content: "";
    grid-area: 1/1;
    border-radius: 50%;
    background: #23baf5;
    -webkit-mask:repeating-linear-gradient(#000 0 10px,#0000 0 20px);
  }
  .loader:after {
    -webkit-mask:repeating-linear-gradient(#0000 0 10px,#000 0 20px);
    animation: l36 1.5s infinite;
  }
  @keyframes l36 {
    0%,
    10%  {transform: rotate(0)      translate(0)}
    35%  {transform: rotate(0)      translate(100%)}
    66%  {transform: rotate(180deg) translate(100%)}
    90%,
    100% {transform: rotate(180deg) translate(0) }
  }