.wrapper .button{
    display: inline-block;
    height: 35px;
    width: 35px;
    margin: 0 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
    background: #193841;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.135);
    transition: all 0.3s ease-out;
  }

.wrapper .button:hover{
    width: 160px;
}

.wrapper .icon{
    color: white;
    margin-right: 10px;
    padding: 6px;
}

.wrapper span{
    font-size: 16px;
    text-transform: uppercase;
}

.github-bulb{
    
    /* animation: git_bulb 2s infinite ease-in-out ; */
}
@keyframes git_bulb {
    0%{
        filter: drop-shadow(0px 0px 0px black);
    }
    0%{
        /* box-shadow: 0px 0px 10px 20px #23baf5; */
        filter: drop-shadow(0px 0px 50px #23baf5);
    }
    100%{
        filter: drop-shadow(0px 0px 0px black);
    }
}

/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
  width: 40px;
  height: 40px;
  --c:no-repeat linear-gradient(#23baf5 0 0);
  background: var(--c),var(--c),var(--c),var(--c);
  background-size: 21px 21px;
  animation: l5 1.5s infinite cubic-bezier(0.3,1,0,1);
}
@keyframes l5 {
 0%   {background-position: 0    0,100% 0   ,100% 100%,0 100%}
 33%  {background-position: 0    0,100% 0   ,100% 100%,0 100%;width:60px;height: 60px}
 66%  {background-position: 100% 0,100% 100%,0    100%,0 0   ;width:60px;height: 60px}
 100% {background-position: 100% 0,100% 100%,0    100%,0 0   }
}